@font-face {
    font-family: 'lato';
    src: url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
}

body{
    font-family: 'lato', sans-serif;
    background-color: $white;
    
}