.list{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;

        &__item{
            margin-top: 25px;
            padding: 15px;
        }

        &__link{
            position: relative;
            text-decoration: none;
            color: $white;
            font-style: italic;
            text-transform: uppercase;
            font-size: 12px;
        }

        &__link::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;;
            width: 0;
            height: 2px;
            background: $third-color;
            transition: width 500ms ease;
        }
        &__link:hover:after{
            width: 100%;
        }
}