// Colors 
$main-color : #008F8C;
$second-color : #F27457;
$third-color : #023535;
$white : #F9F9F9;
$black : #1C1D20 ;
$grey : #545557; 

// font Size 
$title : 40px ; 
$sub-title : 20px; 
$paragraphe : 16px; 