/*Fonts customs*/
@font-face {
    font-family: "Josefin-L";
    src: url('../fonts/JosefinSans-Light.ttf');}
@font-face {
    font-family: "Josefin-R";
    src: url('../fonts/JosefinSans-Regular.ttf');}

/* GENERAL */
body{
    font-family: 'Josefin-R', sans-serif;
    font-size: 20px;
    margin: 0;}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;}
img{
    height: auto;
    max-width: 100%;}
a{
    color: #e74c3c;}
a:link{
    text-decoration: none;}
a:hover{
    color: #009688;}
ul,ol{
    list-style:none;}
section{
    padding: 45px 0 80px 0;}
section .heading {
    padding-bottom: 20px;
    text-align: center;}
section .heading h2{
    text-transform: uppercase;}
h2{
    text-align: center;
    text-transform: uppercase ;}
.funtext{
    font-family: 'Josefin-R';
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;}

/*Diviseurs*/
.green-divider1,.green-divider2{
    background: #009688;
    height: 4px;
    margin: 0 auto;
    transition: all 500ms ease-in;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -ms-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
    width:100px;}
.white-divider1,.white-divider2{
    background: #fff;
    height: 4px;
    margin: 0 auto;
    transition: all 500ms ease-in;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -ms-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
    width:100px;}
.divider-anim{
    width:250px;}

/*barre de progression*/
.boxBar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;}
.bar {
    background: #e74c3c;
    height: 3px;
    width: 0%;}

/* MENU */
.navbar{
    background: #fff;
    font-family: 'Josefin-L';
    font-size: 16px;
    letter-spacing: 3px;
    padding-top: 3px;
    text-transform: uppercase;}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;}
.navbar .navbar-collapse{
    text-align: center;}
.icon-bar{
    background-color: #e74c3c !important;}
.navbar li a{
    color: #333 !important;
    transition: all 0.2s ease-in 0s !important;}
.navbar-nav li a:hover, .navbar-nav li.active a{
    background-color: #ecf0f1 !important;
    color: #e74c3c !important;}
.navbar-default .navbar-toggle{
    border-style: none;}

/*About*/
#about{
    padding-bottom: 10px;}
.bg-img{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-top:1px solid #c4c7cb; 
    border-bottom:1px solid #c4c7cb;
    height:700px;
    overflow:hidden;
    padding-top: 110px;
    position: relative;
    width:100%;  
    z-index: -1;}
.bg-img h1{
    color: #00A09A;
    font-size: 3.5em;
    left: 10%;
    opacity: 0;
    position: absolute;
    top: 10%;
    transition: 1s;}
.titre-img1 span{
    color: #e74c3c;
    text-transform: uppercase;}
.bg-img h2{
    color: white;
    font-size: 1.6em;
    left: 10%;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 30%;
    transition: 3s;}
.bg-img .qualites{
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    left: -100%;
    margin: 0 10px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;}
.bg-img #cur,.bg-img #cre{
    top: 380px;
    transition: 1s;
    width: 170px;}
.bg-img #pol,.bg-img #aut{
    top: 500px;
    transition: 1s;
    width: 220px;}
.qualites-anim1{
    left: 10% !important;}
.qualites-anim2{
    left: 30% !important;}
.qualites-anim3{
    left: 35% !important;}

/* compétences */
#competences{
    background-color: #FAFAFA;
    position: relative;}
#SJMfuLpNUhG2{
    color:#FDFAE2
}   
.r-competence{
    text-align: center;}
.titre-comp{
    font-weight: bolder;
    text-transform: uppercase;}
.texte-comp{
    margin-bottom: 1px;
    font-size: 18px;
    padding-bottom: 20px;}
.button-cv{
    background-color: #00a09a;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.2);
    color: #00a09a;
    margin-top: 20px;
    outline: none;
    transition: 0.3s;}
.button-show {
    opacity: 1;}
.button-cv:hover{
    box-shadow: 3px 5px 25px 4px rgba(0,0,0,0.18);
    -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
            transform: scale(1.02);}
.button-cv:active{
    box-shadow: 3px 5px 18px 2px rgba(0,0,0,0.25);
    -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
            -o-transform: scale(0.98);
            transform: scale(0.98);}
.button-cv p {
    font-size: 18px;
    text-transform: uppercase;}
#formation{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #E74C3C;
    height: 500px;
    background-color: #f1f2f6;
    transition: 0.5s;
}
#formation:hover{
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
         -o-transform: scale(1.03);
            transform: scale(1.03);
}
#formation li{
    font-size: 18px;
    text-align: left;
}

/* EXPERIENCE */
#experience{
    background: #00a09a;}
.timeline{
    padding: 30px 10px;
    position: relative;}
.timeline:before{
    background-color: #333;
    bottom: 0;
    content: " ";
    left: 50%;
    margin-left: -2.5px;
    position: absolute;
    top: 0;
    width: 5px;}
.timeline > li{
    margin-bottom: 20px;
    position: relative;}
.timeline > li:after{
    clear: both;}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;}
.timeline li .timeline-badge{
    background-color: #ddd;
    border-radius: 50%;
    color: #e74c3c;
    font-size: 20px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 50px;}
.timeline-panel-container{
    float: left;
    opacity: 0;
    -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
    width: 50%;}
.timeline-panel-container-inverted1,.timeline-panel-container-inverted2{
    float: right;
    opacity:0;
    -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
    width: 50%;}
.timeline-animation{
    opacity: 1;}
.timeline-panel{
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    float: right;
    margin-right: 40px;
    padding: 25px 25px;
    position: relative;
    width: 100%;}
.timeline-panel-container-inverted1 .timeline-panel,.timeline-panel-container-inverted2 .timeline-panel{
    margin-left: 40px;
    float: left;}
.timeline-panel:after{
    display:inline-block;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-top: 14px solid transparent;
    content: " ";
    position:absolute;
    right: -14px;
    top: 27px;}
.timeline-panel-container-inverted1 .timeline-panel:after,.timeline-panel-container-inverted2 .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;}
.timeline-heading h3{
    font-size: 20px;
    margin-top: 5px;}
.timeline-heading h4{
    color: #009688;}
.timeline-heading{
    word-wrap: break-word;}
.timeline-body{
    word-wrap: break-word;}

/* RECOMMANDATIONS */
#recommandations{
    background: #FAFAFA;}
#reco .item{
    text-align: center;
    padding: 20px 30px;}
#reco .item h3{
    color: #e74c3c;
    font-size: 40px;
    font-style: italic;
    padding-bottom: 10px;}
.button2{
    background: #009688;
    border: 1px solid #009688;
    border-radius: 5px;
    display: inline-block;
    color: #FAFAFA;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease-in 0s;}
.button2:hover{
    background: #FAFAFA;
    color: #009688;
    text-decoration: none;}
    
/* PORTFOLIO */
#portfolio{
    background: #00a09a;}
#portfolio{
    background: #00a09a;}
#portfolio h3{
    color:white;
    margin: 40px!important;
    text-transform: uppercase;}
.portfolioClass{
    padding-bottom:20px; 
    opacity: 1;}
.portfolio-animation{
    opacity: 1;}
.imageBox {
    position: relative;
    overflow: hidden;}
.imageBox img{
    transition:.5s;
    width: 100%;}
.textBox{
    background: rgba(66,66,66,.8);
    height: 100%;
    position: absolute;
    top: 100%;
    transition: .5s;
    width: 100%;}
.textBox p{
    color: white;
    font-size: 18px;
    font-weight: bold;
    left: 10%;
    right: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5%;}
.textBox .title{
    text-transform: uppercase;}
.textBox .description{
    font-weight: initial;
    font-size: 16px;
    padding-top: 10px;
    top: 20%;}
.imageBox:hover .textBox{
    top: 5%;}
.imageBox:hover img {
    transform: scale(1.2);
    -webkit-filter: grayscale(100%);}

/* CONTACT */
#contact{
    background: #424242;}
#contact .gif{
    text-align: center;
    margin-top:70px;}
.gif img{
    transition: 0.3s;
}
.gif img:hover{
    box-shadow: 3px 5px 25px 4px rgba(0,0,0,0.18);
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
         -o-transform: scale(1.03);
            transform: scale(1.03);}
.gif img:active{
    box-shadow: 3px 5px 18px 2px rgba(0,0,0,0.25);
    -webkit-transform: scale(0.98);
       -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
         -o-transform: scale(0.98);
            transform: scale(0.98);}
#contact .gif p {
    color:white;
    margin-bottom: 30px;}
#contact .bloc{
    margin : 0;
    text-align: center;}
#contact .bloc h3{
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;}
#contact .bloc img{
    max-width: 60%;}
#contact .bloc p{
    color: white;
    text-align: left;}
#contact .bloc .fa{
    padding: 20px 20px 0 20px}
#contact-form{
    color: #424242;
    font-size: 25px;}
#contact .gif p {
    color: red;
    margin-bottom: 30px;
}
.fab{
    margin: 10px;
}
#contact #text{
    color: white;
    text-align: center;}
.form-control{
    height: 50px;
    font-size: 18px;}
.comments{
    color: red;
    height: 15px;
    font-size: 16px;
    font-style: italic;}
.button1{
    background: transparent;
    border: 1px solid #424242;
    color: #424242;
    display: inline-block;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
   }
.button1:hover{
    background: #424242;
    color: #009688;
    text-decoration: none;}
#contact-form input[type=submit]{
    display: block;
    margin:20px auto 40px;}
.thank-you{
    font-size: 30px;
    color:#00A09A !important;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;}

/* FOOTER */
footer{
    background: #333;
    padding: 20px 0 40px;}
footer .glyphicon{
    color: #d82c2e;
    height: 30px;
    font-size:  25px;}
footer .glyphicon:hover{
    font-size:  27px;}
footer h5{
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;}
footer img{
    margin-top: 10px;
    width: 150px;}
footer p{
    color: white;
    font-size: 15px;
    margin-top: 20px;}